/* Use Github MD <kbd></kbd> Styles */
kbd:not(.default) {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: normal;
  line-height: 10px;
  color: #adbac7;
  vertical-align: middle;
  background-color: #2d333b;
  border: solid 1px rgba(99,110,123,0.4);
  border-bottom-color: rgba(99,110,123,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(99,110,123,0.4);
}
