/* Notifies the user to stop using dark reader */
html[data-darkreader-scheme] body {
  display: none;
}
html[data-darkreader-scheme]::before {
  content: 'This site is dark themed! Dark reader breaks this site, so please disable it.';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 0.5em;
  text-align: center;
  background: #1e2030;
}
